
{% extends "base.html" %}
{% block body %}
<html>
	<head>
		<title>{% block title %}Accueil{% endblock %} | Clinique</title>
		<!--<link rel="icon" href="imageset/favicon.png">-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/materialize.min.js" %}"></script>

		<script src="{% static "js/script.js" %}"></script>
	</head>

	<body>

		{% if messages %}
			{% for message in messages %}
					<script>
						Materialize.toast('{{ message }}', 3000);
					</script>
			{% endfor %}
		{% endif %}

		<ul id="slide-out" class="side-nav fixed">
			<li><div class="user-view">
		      <div class="background">
						<img src="{% static "index.jpeg" %}">
		      </div>
					
		     
		     
		    	</div>
			</li>

			
			
			
			<li><a class="waves-effect" href="/logout">Logout</a></li>
		</ul>

		<main class="center-align">
					<nav>
			    	<div class="nav-wrapper blue-grey darken-3">
							<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
							<a href="#" class="brand-logo center">{% block heading %}Hospital Portal{% endblock %}</a>
						</div>
					</nav>
					<div id="body">
						{% block body %}{% endblock %}
					</div>
		</main>


		<footer class="page-footer blue-grey darken-2">
			<div class="container">
        <div class="row">
          <div class="col l12 s12 grey-text text-lighten-4">
           
						<div class="center"> Rachakha Mehdi| Akdim Amine | Elouadi Aissa </div>
						<div class="center">
							
						</div>
          </div>
        </div>
      </div>
  	</footer>


	</body>
</html>

{% endblock %}